.main-form{
    display:flex;
    justify-content:center;
    background-color: #e6ffff;
    /* background-image: linear-gradient(180deg, black, gray); */
  }

.addbtn {
    margin: 10px;
    background-color: #00cc00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 25%;
    height: 50px;
  }

  .addbtn:hover{
    background-color: #008000;
  }

  .main-form input{
    margin: 10px;
    width: 30%;
    height: 50px;
  }

  .main-form input:focus {
    border: 3px solid #003300;
  }